version: '2'

services:
  mattermost-push-proxy:
    restart: always
    image: jostyee/mattermost-push-proxy:3.5.0
    ports:
      - "8066:8066"
    volumes:
      - ./config:/opt/mattermost-push-proxy/config